.login {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.auth {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    width: 440px;
    z-index: 1;
}

.image {
    width: 300px;
    height: 144px;
}

.form {
    background-color: #fff;
    border-radius: 7px;
    padding: 9px 0;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    margin: 11px 0;
    position: relative;
    border: 1px solid #c3c3c3;
}

.form::before {
    border-radius: 7px;
    background: transparent;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 68px 4px rgba(0,0,0,0.23);
}

.fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
}

.email, .pass {
    position: relative;
}

.email-logo {
    background-image: url(image/user-shape.svg);
    width: 19px;
    height: 19px;
    opacity: 0.4;
    background-size: cover;
    position: absolute;
    top: 25px;
    left: 21px;
}

.pass-logo {
    background-image: url(image/padlock-unlock.svg);
    width: 19px;
    height: 19px;
    opacity: 0.4;
    background-size: cover;
    position: absolute;
    top: 25px;
    left: 21px;
}

.email-input, .pass-input {
    margin: 10px 0;
    padding: 16px 6px 16px 53px;
    border: 1px solid #dfdfdf;
    border-radius: 7px;
    width: calc(100% - 62px);
}

.auth-button {
    margin: 10px 0;
    background-color: #4db6e2;
    color: #fff;
    border: none;
    font-size: 22px;
    padding: 12px 0;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}

.change {
    background-color: #fff;
    border-radius: 7px;
    padding: 9px 0;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    margin: 11px 0;
    position: relative;
    border: 1px solid #c3c3c3;
}

.change::before {
    border-radius: 7px;
    background: transparent;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 68px 4px rgba(0,0,0,0.23);
}

.auth-error {
    margin: 5px 0;
    text-align: center;
}